body {
  margin: 0;
  padding: 0;
  font: 17px sans-serif;
}
input, select, button {
    box-sizing: border-box;
}
header {
  display: flex;
  padding: 0 30px;
}
ul {
  list-style: none;
}
fieldset {
  border: none;
}
.headerContent {
  flex-grow: 1;
}
.navigation {
  display: flex;
  justify-content: space-around;
}

.headerBar {
  display: flex;
  justify-content: space-between;
  padding: 0 30px;
}

.phones {
  display: flex;
  gap: 50px;
}

.toolbar {
  display: flex;
  gap: 40px;
}

.toolbar i {
  width: 32px;
  height: 32px;
  display: block;
  background-size: contain;
}

.toolbar .callback {
  background-image: url('icons/phone-call.png');
}
.toolbar .cart {
  background-image: url('icons/cart.png');
}
.toolbar .userProfile {
  background-image: url('icons/user.png');
}

.search {
    max-width: 1100px;
    margin: auto;
}
.searchHierarchy {
  display: flex;

  gap: 10px;
}
.searchHierarchy > select {
  width: 20%;
  height: 35px;
  padding-left: 10px;
}
.searchSpecific {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.searchSpecific > div {
  font-size: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.searchSpecific > div > div {
  width: 60%;
  display: flex;
  gap: 10px;
}
.searchSpecific > div > div > input {
    flex-grow: 1;
    height: 35px;
    padding-left: 10px;
}

.vendorList {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 300px;
  max-width: 1000px;
  margin: 30px auto ;
  gap: 10px;
}
.vendorList li {
  max-width: 150px;
}

footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.social {
  display: flex;
  gap: 10px;
}
.social i {
  display: block;
  height: 50px;
  width: 50px;
  background-size: contain;
}
.social .viber {
    background-image: url('icons/viber.png');
}
.social .telegram {
    background-image: url('icons/telegram.png');
}
.social .youtube {
    background-image: url('icons/youtube.png');
}
.social .instagram {
    background-image: url('icons/instagram.png');
}
/* product LIST */
h1 {
  display: flex;
  width: 1050px;
  margin: 30px auto;
}
.productList {
  width: 1100px;
  margin: auto;
}
@media screen and (min-width: 1100px) {
  table {
    width: 1100px;
  }
}
table img {
  max-width: 128px;
  max-height: 96px;
}
td:nth-child(1), td:nth-child(2), td:nth-child(5), td:nth-child(6) {
  text-align: center;
}
td:nth-child(3), td:nth-child(4) {
  padding: 10px;
}